<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450350638807-l8tkkcd7ke88e4u9s8mtqtuo97afadip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450350638807-l8tkkcd7ke88e4u9s8mtqtuo97afadip</string>
	<key>API_KEY</key>
	<string>AIzaSyCw1tZuD7mj8XeXWIbxlOuVqfxqeSMIIMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>450350638807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fresco.outsource.carbon.pro</string>
	<key>PROJECT_ID</key>
	<string>caron-1e33b</string>
	<key>STORAGE_BUCKET</key>
	<string>caron-1e33b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450350638807:ios:c6cd724c367ffe3d377292</string>
</dict>
</plist>